@charset "utf-8";
/* CSS Document */


@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

@font-face {
	font-family: Arial; /* 개발자가 임의로 서체 이름 지정 */
	src: url("../fonts/arialroundedmtbold-whitexx.eot");
	src: local(' '), url("../fonts/arialroundedmtbold-whitexx.woff") format('woff');
}

@font-face {
	font-family: Gill;
	src: url("../fonts/Gill Sans MT Medium.eot");
	src: local(' '), url("../fonts/Gill Sans MT Medium.woff") format('woff');
}


/*======= reset ========*/

* {
	margin: 0;
	padding:0;
	box-sizing:border-box;
}

body {
	font-family: 'Nanum Gothic', sans-serif;
	font-size:15px;
	color:#333;
}

ol, ul {
	list-style: none;
}

ol li, ul li {
	float:left;
}

a {
	display:block;
	color:#333;
	text-decoration: none;
	border:none;
	outline:none;
}

.clear {
	clear:both;
}